<!DOCTYPE html>
<html ng-app="localArtist">
<head>
	<title>LocalArtists</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Local CSS -->
	<link rel="stylesheet" href="style.css" />

	<!-- Link Angular and Angular Route CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>

	<!-- UI Bootstrap JS CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>

	<!-- ng-file upload -->
	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>

	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

	<!-- Galleria CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.5/galleria.min.js"></script>

  <!-- Main app script -->
  <script src="controllers/HomepageController.js"></script>
  <script src="controllers/ModalInstanceCtrl.js"></script>
  <script src="controllers/NavBarController.js"></script>
  <script src="controllers/CreateProfileController.js"></script>
  <script src="controllers/ProfileController.js"></script>
  <script src="controllers/AddPhotosController.js"></script>

  <script src="app.js"></script>
</head>
<body>

	<nav class="navbar navbar-default" ng-controller="NavBarController">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/">LocalArtist</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul ng-if="!isSignedIn()" class="nav navbar-nav navbar-right">
	        <button class="btn" ng-click="openLogin()">Login</button>
	        <button class="btn" ng-click="openSignUp()">Sign Up</button>
	      </ul>
	      <ul ng-if="isSignedIn()" class="nav navbar-nav navbar-right">
	        <button class="btn" ng-click="goToCreateProfile()"> Create Profile </button>
	        <button class="btn" ng-click="logout()"> Log Out </button>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div ng-view></div>


</body>
</html>
