<div class="container homepage-wrapper">
	<div class="row">
		<div class="col-md-12">
			<h1 class='cover-text'>Discover <br> Local <br> Art</h1>
			<img src="https://cbsla.files.wordpress.com/2012/11/santiago-art-walk-header.jpg" class="img-responsive cover-photo">
		</div>
	</div>

	<br>

	<div class="row text-center">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h4> Explore Art </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="img/noun_547038_cc.png" class='img-responsive explore-image'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4> Discover local art near you </h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h4> Explore Artists </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="img/noun_603556_cc.png" class='img-responsive explore-image'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4> Hear about local artists near you </h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h4> Explore Venues </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img src="img/noun_642358_cc.png" class='img-responsive explore-image'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4> Venues where local art is showing near you </h4>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="row">
<!-- 		<div class="col-md-10">
			<select class="form-control">
			  <option>Artist</option>
			  <option>Venue</option>
			  <option>Showing</option>
			</select>
		</div>
		<div class="col-md-2">
			<button class='btn btn-primary'> Search </button>
		</div> -->
		<div class="col-md-12">
			<button class='btn btn-primary center-block' ng-click="goToSearch()"> Explore! </button>
		</div>
	</div>

	<br>
	<br>
</div>
