<div class="container">
	<div class="row">
		<ng-image-gallery images="images" methods="methods" thumbnails="true" inline="true" img-bubbles="false" bg-close="false" bubbles="true" img-anim="fadeup" on-open="opened();" on-close="closed();"></ng-image-gallery> 
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
			<img src="http://localhost:3000{{photo_url}}" class="img-responsive search-image">
		</div>
		<div class="col-md-9 profile-text">
			<h2 class="search-result-header">{{profile.name}}</h2> 
			<h4>Style: {{profile.style}}</h4>
			<p>{{profile.description}}</p>
			<br> 
			<button class="btn btn-primary" ng-if="profile.profile_type==='artist'" ng-click="goToCreateShowing()">Create showing at my gallery</button>
			<button class="btn btn-primary" ng-if="profile.profile_type==='gallery'" ng-click="goToCreateShowing()">Show artwork at this gallery</button>
		</div>
	</div>
	<br> 
	<div class="row">
		<div class="col-md-12">
			<h1>Showings for {{profile.name}}</h1>
		</div>
	</div>
	<br>
	<div class="row" ng-repeat="showing in showings">
		<div class="container profile-link" ng-click="goToShowing(showing.showing.id)">
			<div class="col-md-3">
				<img src="http://localhost:3000{{showing.photo[1]}}" class="img-responsive ">
			</div>
			<div class="col-md-9">
				<h3 class="search-result-header"> Check out {{showing.artist.name}} at {{showing.gallery.name}} 
				</h3>
				<p>{{showing.gallery.description}}</p>
			</div>
		</div>
		<br>
	</div>

	<br>
	<br>
</div>


