<div class="container">
	<div class="row">
		<ng-image-gallery images="images" methods="methods" thumbnails="true" inline="true" img-bubbles="false" bg-close="false" bubbles="true" img-anim="fadeup" on-open="opened();" on-close="closed();"></ng-image-gallery> 
	</div>
	<br>
	<div class="row" ng-if="!editMode">
		<div class="col-md-3">
			<img src="{{photo_url}}" class="img-responsive search-image">
		</div>
		<div class="col-md-9 profile-text">
			<h2 class="search-result-header">{{profile.name}}</h2> 
			<h4>Style: {{profile.style}}</h4>
			<p>{{profile.description}}</p>
			<br> 
			<button class="btn btn-primary" ng-if="profile.profile_type==='artist'" ng-click="goToCreateShowing()">Show artist's work at gallery</button>
			<button class="btn btn-primary" ng-if="profile.profile_type==='gallery'" ng-click="goToCreateShowing()">Show artwork at this gallery</button>
			<button class="btn btn-primary" ng-if="profile.user_id === user_id" ng-click="edit()">Edit Profile</button>	
		</div>
	</div>
	<div class="row" ng-if="editMode">
		<div class="col-md-3">
			<img src="{{photo_url}}" class="img-responsive search-image">
		</div>	
		<div class="col-md-9 profile-text">
		  <form name="updateProfile">
		    <fieldset>
		      <div class="form-group row" name="profile" >
		        <label class="col-md-2 control-label">Profile Type</label>
		        <div class="col-md-4">
		        	<input type="radio" ng-model="profile.profile_type" value="gallery" class="radio-button">Venue
		  				<input type="radio" ng-model="profile.profile_type" value="artist" class="radio-button">Artist<br>
		        </div>
		      </div>
		      <div class="form-group row" >
		        <label class="col-md-2 control-label">Name</label>
		        <div class="col-md-4">
		          <input type="text" class="form-control" name="name" ng-model="profile.name" required />
		        </div>
		      </div>
		      <div class="form-group row" >
		        <label class="col-md-2 control-label">Style</label>
		        <div class="col-md-4">
		          <input type="text" class="form-control" name="style" ng-model="profile.style" required />
		        </div>
		      </div>
		      <div class="form-group row" >
		        <label class="col-md-2 control-label">Description</label>
		        <div class="col-md-4">
		          <textarea class="form-control" name="description" ng-model="profile.description"> </textarea>
		        </div>
		      </div>
				</fieldset>
			</form>	
			<br> 
			<button class="btn btn-primary" ng-click="saveProfile()">Save</button>
			<button class="btn btn-primary" ng-click="edit()">Cancel</button>	
			<button class="btn btn-primary" ng-click="addToGallery()">Add Photos to Gallery</button>	
		</div>
	</div>
	<br> 
	<div class="row">
		<div class="col-md-12">
			<h1>Showings for {{profile.name}}</h1>
		</div>
	</div>
	<br>
	<p ng-if="isShowingsEmpty()"> No showings yet... </p>
	<div class="row" ng-repeat="showing in showings">
		<div class="container profile-link" ng-click="goToShowing(showing.showing.id)">
			<div class="col-md-3">
				<img src="{{showing.photo[1].replace('s3.','s3-us-west-2.')}}" class="img-responsive ">
			</div>
			<div class="col-md-9">
				<h3 class="search-result-header"> Check out {{showing.artist.name}} at {{showing.gallery.name}} 
				</h3>
				<p>{{showing.gallery.description}}</p>
			</div>
		</div>
		<br>
	</div>

	<br>
	<br>
</div>


