<div class="container top-margin">
	<div class="row ">
		<div class="col-md-3">
			<h1 class="inline-block"> Explore Art </h1>
		</div>
		<div class="col-md-9">
			<input type="text" ng-model='searchBox' class="inline-block form-control search-box" placeholder="What would you like to see?"> 
		</div>
	</div>

	<br>
	<br>

	<row ng-repeat='datum in data | filter:searchBox'>
		<div class='container profile-link' ng-if="datum[0]" ng-click="goToProfile(datum[0].id)">
			<div class="col-md-3 search-profile-image">
				<img src="{{datum[1].replace('s3.','s3-us-west-2.')}}" class="img-responsive search-image">
			</div>
			<div class="col-md-9">
				<h2 class="search-result-header"> {{datum[0].profile_type[0].toUpperCase() + datum[0].profile_type.slice(1)}}: {{datum[0].name}} </h2>
				<h4> Style: {{datum[0].style}} </h4>
				<p> {{datum[0].description}}</p>
			</div>
		</div>
		<div class='container profile-link' ng-if="datum.showing" ng-click="goToShowing(datum.showing.id)">
			<div class="col-md-3 search-profile-image">
				<img src="{{datum.photo[1].replace('s3.','s3-us-west-2.')}}" class="img-responsive search-image">
			</div>
			<div class="col-md-9">
				<h2 class="search-result-header"> Showing: {{datum.artist.name}} is showing at {{datum.gallery.name}}</h2>
				<h4> About the Artist:  </h4>
				<p>{{datum.artist.description}}</p>
				<h4> About the Gallery: </h4>
				<p>{{datum.gallery.description}}</p>
			</div>
		</div>
		<br>
	</row>
	<br>
</div>