<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Search </h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="text" ng-model='searchBox'>
		</div>
	</div>

	<row ng-repeat='datum in data | filter:searchBox' >
	<!-- 		<div class="col-md-4">
				<img src="http://localhost:3000{{showing.photo[1]}}" class="img-responsive">
			</div> -->
			<div class="col-md-8">
				<p> {{datum.name}} {{datum.profile_type}} {{datum.description}}</p>
			</div>
	</row>

</div>