<div class="container">
	<div class="row">
		<ng-image-gallery images="images" methods="methods" thumbnails="false" inline="true" img-bubbles="false" bg-close="false" bubbles="true" img-anim="fadeup" on-open="opened();" on-close="closed();"></ng-image-gallery> 
	</div>
	<br>
	<div class="row">
		<h1> About the Artist: </h1>
		<br>
		<div class="container profile-link" ng-click="goToProfile(showing.artist.id)">
			<div class="col-md-3">
				<img src="{{showing.artist_pic.replace('s3.','s3-us-west-2.')}}" class="img-responsive search-image">
			</div>
			<div class="col-md-9 profile-text">
				<h2 class="search-result-header">{{showing.artist.name}}</h2> 
				<h4>Style: {{showing.artist.style}}</h4>
				<p>{{showing.artist.description}}</p>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<h1> About the Venue: </h1>
		<br>
		<div class="container profile-link" ng-click="goToProfile(showing.gallery.id)">
			<div class="col-md-3">
				<img src="{{showing.gallery_pic.replace('s3.','s3-us-west-2.')}}" class="img-responsive search-image">
			</div>
			<div class="col-md-9 profile-text">
				<h2 class="search-result-header">{{showing.gallery.name}}</h2> 
				<h4>Style: {{showing.gallery.style}}</h4>
				<p>{{showing.gallery.description}}</p>
			</div>
		</div>
	</div>
</div>
